
.star{
    font-size: 32px !important;
}
.devider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
  }
  
  .devider::before,
  .devider::after {
    content: "";
    border-bottom: 5px solid #333;
    margin: 0 12px; 
    width: 30%;
  }

  h2 {
    font-size: 3rem !important;
    font-weight: 700 !important;
    margin-bottom: 20px !important;
    text-align: center;
    text-transform: uppercase;
}